html[data-theme="default"] {
	--textColour: #555; 
	--spaceText: #555;
	--draggable: #fff;
	--draggableText: #555; /* words */
	--buttonText: #fff;
	--accent: #f442af;
	--bg-image: repeating-linear-gradient(0deg, #d8daff, #d8daff 1px, #FFFFFF 1px, #FFFFFF);
	--bg: linear-gradient(#d8daff, #d4ecfd, #e3fff1);
	--buttonPane: #e3fff1;
}
html[data-theme="accent"] {
	--icons: #197e80;
	--textColour: #555;
	--spaceText: rgb(29, 24, 57);
	--draggable: #fff;
	--draggableText: #1e193b;
	--buttonText: #fff; 
	--accent: #197e80; 
	--bg-image: none;
	--bg: #f0fff0;
	--buttonPane: #b5e8d8;
}

html[data-theme="dark"] {
	--icons: #fff;
	--textColour: #fff; 
	--spaceText: #1e193b;
	--draggable: #1e193b;
	--draggableText: #fff; 
	--buttonText: #fff;
	--accent: #971967;
	--bg-image: none;
	--bg: #000;
	--buttonPane: #b4cfc1;
}

@font-face {
	font-family: 'Just Sans';
	src: url("/fonts/JUSTSans-Regular.otf");
}
@font-face {
	font-family: 'Courgette';
	src: url("/fonts/Courgette-Regular.ttf");
}

/* Page structure */
* {
	box-sizing: border-box;
}
[hidden] {
	display: none !important;
}
div.poem { 
	padding: 2rem;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	line-height: 1.25em;
	&:hover {
		opacity: 0.8;
	}
}
input[type="submit"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a {
	&:link, &:visited {
		color: var(--icons);
	}
	&:hover {
		color: inherit;
		opacity: 0.8
	}
}
body {
	font-family: 'Just Sans', Arial, Helvetica, sans-serif;
	margin-bottom: 40vh;
	line-height: 1.5em;
	opacity: 0.8;
	color: var(--textColour);
	background-size: 20px 20px;
	background-image: var(--bg-image);
	font-size: 0.9em;
}
#buttons {
	background: var(--buttonPane) !important;
}
#container {
	color: var(--textColour);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 7.5vh;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--bg);
}
#space {
	position: fixed;
	bottom: 0;
	width: 100vw;
	left: 0;
	padding: 1em;
	height: 40vh;
	color: var(--spaceText);
	background: rgba( 255, 255, 255, 0.5 );
	box-shadow: 0 5px 10px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 20px );
	-webkit-backdrop-filter: blur( 20px );
	div.enter {
    height: 22.5vh;
    width: 90%;
    line-height: 1.25em;
    position: absolute;
    overflow-y: auto;
    top: 0;
    margin-top: 8vh;
	}
}
span.word {
	border-width: 1px 3px 3px 1px;
	border-color: #000 var(--textColour) var(--textColour) #000;
	box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.2 );
	padding: 2.5px 5px;
	margin: 3px;
	background: var(--draggable);
	display: inline-block;
	color: var(--draggableText);
  cursor: move;
	&:empty {
		display: none;
	}
	&:hover {
		background: yellow;
		filter: brightness(150%);
		color: black
	}
}
img.bird {
	margin: 1rem;
	display: flex;
	border-radius: 99%;
	justify-content: center;
}
div.buttons {
	margin: 1rem;
	display: flex;
	justify-content: center;
	.author {
		width: 30%;
		&:hover {
			border: 1px solid #000
		}
	}	
	button {
		margin: 5px;
		padding: 10px;
		cursor: pointer;
		outline: inherit;
		color: var(--buttonText);
		border: 1px solid black;
		background: var(--accent);
		border-radius: 5px;
		box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.2 );
		span {
			margin: 0.5em;
			font-size: calc(23px + 1vh);
			color: black;
			&:hover {
				color: black;
			}
		}
	}
}
.compose-message {
	font-family: Courgette, sans-serif;
	color: var(--accent);
	letter-spacing: 0.25px;
	text-align: center;
	margin: auto;
	height: calc(1em + 1.5vh);
}
.poem-data {
	margin: 1rem 0;
	padding: 1rem;
	white-space: break-spaces;
	color: var(--textColour);
	span {
		font-style: italic;
	}
}
div.drag {
	display: inline-block;
	width: fit-content;
}
div.footer {
	padding: 2rem;
	color: var(--textColour);
	white-space: break-spaces;
	text-align: center;
}
div.footer-buttons {
	position: fixed;
	bottom: 10px;
	text-align: center;
	button {
		margin: 0.5em;
	}
	button:nth-of-type(1) {
		margin-left: -1em;
	}
}
.disabled {
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
}

@media screen and (orientation: landscape) {
	div.footer-buttons  {
		width: 50vw
	}
	html {
		overflow: hidden;
	}
	body {
		flex-direction: row;
		display: flex;
		margin-bottom: 0;
	}
	#container {
		width: 50vw;
		height: 100vh;
		padding-bottom: 15vh
	}
	#space {
		top: 0;
		width: 50vw;
		left: 50vw;
		height: 100vh;
		div.enter {
			height: 75vh;
			width: 92.5%;
			margin-top: 12.5vh;	
			&__send-request {
				height: 62.5vh;
				margin-top: 22vh;
			}
		}
	}
	span.word {
		margin: 5px;
	}
}
@media screen and (orientation: portrait) {
	.shuffle {
		margin-top: 7.5em;
	}
	#buttons {
		border-top: 1px solid var(--accent);
		border-bottom: 1px solid var(--accent);
		width: 100%;
		padding: 1em 0;
		.buttons button {
			transition: all 0.3s ease;
		}
	}	
	#buttons.stuck .buttons button {
		padding: 2em 0 1em 0;
    border: none;
    border-radius: 0;
    position: fixed;
		z-index: 1;
		margin: 0;
    height: fit-content;
		background: var(--accent);
    top: -2.5vh;
		box-shadow: 0 20px 20px -20px rgba( 31, 38, 135, 0.2 );
		&:hover {
			opacity: 1;
		}
	}	
	#buttons.stuck .buttons button:nth-of-type(1) {
		width: 25vw;
		left: 0vw
	}
	#buttons.stuck .buttons button.author:nth-of-type(2) {
		width: 25vw;
		left: 25vw
	}
	#buttons.stuck .buttons button.author:nth-of-type(3) {
		width: 20vw;
		left: 50vw
	}
	#buttons.stuck .buttons button.submission {
		width: 30vw;
		left: 70vw
	}
	div.footer-buttons  {
		width: 100vw
	}
	#space {
		height: calc(env(safe-area-inset-bottom) + 40vh);
		border-radius: 10px;
		border-top: 1px solid var(--accent);
	}
	#space div.enter.enter__send-request {
		margin-top: 6rem;
    height: 12.5vh;
		transition: all 0.3s ease;
	}
	#container {
		padding-bottom: 50vh;
		width: 100%;
		border-radius: 10px;
		overflow: unset
	}
}	
@media screen and (orientation: portrait) and (max-width: 1201px),
screen and (min-width: 480px) and (max-width:1201px) and (orientation: landscape) {
	
	img.bird {
		width: 10em;
	}
}
div.save {
	text-align: center;
	input {
		font-family: inherit;
		font-size: 1em;
		font-weight: inherit;
		color: #555;
		border: 1px solid #555;
	}
	button {
		font-size: 1em;
		margin-left: 0.5em;
		color: #555;
		border: 1px solid #555;
		border-radius: 5px;
		padding: 10px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.2 );
	}
}
::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
	border-radius: 34px
}
input[type='text'] {
	border: 1px solid var(--textColour);
	padding: 6px;
}
.shuffle {
	font-family: Courgette, sans-serif;
	letter-spacing: 0.75px;
	display: block;
	margin: 0 auto;
}
.svg-button {
	height: 7.5em;
}
.bendy {
	fill: none;
	stroke: var(--accent);
	stroke-width: 34;
	stroke-linecap: round;
}
.svg-button text {
	transform: translateY(5px);
	fill: var(--buttonText)
}
.reload {
  margin: unset
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
	body {
		font-size: 1.25em
	}
	img.bird {
		width: 15vw;
	}
	div.footer-buttons  {
		width: 25vw
	}
	#container {
		width: 50vw;
		height: 100vh;
		left: 25vw;
		padding-bottom: 15vh
	}
	#buttons {
		top: 0;
		width: 25vw;
		left: 0;
		background: var(--green);
		border-right: 1px solid var(--accent);
		height: 100vh;
		position: fixed;
		flex-direction: column;
		display: flex;
    justify-content: center;
		box-shadow: 0 5px 10px 0 rgb(31 38 135 / 37%);
		div.buttons {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		button {
			width: 50%;
			margin: 0.25em auto
		}
	}
	#space {
		top: 0;
		width: 25vw;
		left: 75vw;
		height: 100vh;
		border-left: 1px solid var(--accent);
	}
}
@media screen and (max-width:1201px) and (orientation: landscape) {
	body {
		font-size: 1em !important
	}
	#container {
		overflow-x: hidden;
		border-right: 1px solid var(--accent);
	}
	#buttons {
		background: var(--green);
		width: 50vw;
		padding: 1em 0;
		border-top: 1px solid var(--accent);
		border-bottom: 1px solid var(--accent);
	}
}
button.random.theme {
	margin: 5px;
	padding: 10px;
	width: 30%;
	cursor: pointer;
	outline: inherit;
	color: var(--buttonText);
	border: 1px solid black;
	background: var(--accent);
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.2 );
	span {
		margin: 0.5em;
		font-size: calc(23px + 1vh);
		color: black;
		&:hover {
			color: black;
		}
	}
}
#send {
	content: var(--send)
}
#copy {
	content: var(--copy)
}
#clear {
	content: var(--clear)
}
#backspace {
	content: var(--backspace)
}
#newLine {
	content: var(--newLine)
}
.footer-buttons div {
	width: 48px;
	height: 48px;
	display: inline-block
}
#space div.enter.enter__send-request {
	transition: all 0.3s ease;
}
