@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #9cc9ff;
  --color-text-main: #000;
  --color-primary: #AFECE0;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

a:link,
a:visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
  margin-bottom: 40vh;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}
#container {
  margin: 0 1rem;
  color: var(--color-text-main);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#space {
  position: fixed;
  top: 60vh;
  width: 100vw;
  left: 0;
  padding: 1em;
  min-height: 40vh;
  background: #e5cdfe;
}
span.word {
  font-family: HK Grotesk;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-width: 1px 3px 3px 1px;
  border-color: #888 #000 #000 #888;
  border-style: solid;
  padding: 5px;
  margin: 3px;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  color: #821ca5;
}
span.word:empty {
  visibility: hidden;
}
img.bird {
  width: 20vh;
}
img.bird,
div.buttons {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
div.buttons button {
  background: none;

  border: none;
  padding: 10px;
  cursor: pointer;
  outline: inherit;
}
.compose-message,
div.buttons button {
  color: #ff41a9;

  font-size: calc(10px + 0.75vh);
  letter-spacing: 1px;
  font-family: Courgette;
}
.poem-data {
  margin: 2rem 0;
}
.poem-data span {
  font-style: italic;
}

div.drag {
  display: inline-block;
  width: fit-content;
}
div.footer {
  padding: 1rem;
  font-weight: bold;
  color: #216d3e;
  text-align: center;
}
.compose-message {
  text-align: center;
  margin: auto;
  height: 5vh;
}
div.footer-buttons {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
div.footer-buttons button,
button span {
  margin: 0.5em;
  font-size: calc(23px + 0.5vh);
  color: #000;
  font-weight: normal;
}
#space div.enter {
  height: 20vh;
  width: 95vw;
  font-size: 0.75em;
  line-height: 1.25em;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  width: 12px;
  -webkit-appearance: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff41a9;
  border-radius: 20px;
  border: 3px solid #ff41a9;
}

@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
    display: flex;
    margin-bottom: 0;
  }
  #container {
    width: 50vw;
  }
  #space {
    top: 0;
    width: 50vw;
    left: 50vw;
    min-height: 100vh;
  }
  div.footer-buttons {
    width: 50%;
  }
  #space div.enter {
    height: 80vh
  }
}
